/*css specifique a certains endroit */
body{
    background-image: url(ASSETS/Illustrations\ +\ Logo/All\ \pages/arrière_plan.png);
    color: white;
}

footer{
    background-image: url(ASSETS/Illustrations\ +\ Logo/All\ \pages/back_footer.png);
}

.formulaire{
    background-image: url(ASSETS/Illustrations\ +\ Logo/Accueil/Pantherhome7.png);
}

/*css du barre de nav*/

nav ul {
    border: 2px solid white;
    margin-right: 50px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li {
    flex: 1;
    list-style-type: none;
}

nav{
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}